
.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.filter_box {
  padding: 10px 20px;
  font-size: 16px;
  width: 30%;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 35%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mat-elevation-z8{
  margin: 15px 0;
  border: 1px solid #ccc;
}

