

.add-button {
  padding-left: 20px;
  display: inline-block;
  color: rgb(145, 17, 77);
  cursor: pointer;
}
.remove-button{
  margin-left: 27%;
  display: inline-block;
  color: rgb(228, 6, 117);
  cursor: pointer;
}
.extend-button{
  margin-left: 27%;
  display: inline-block;
  color: rgb(228, 6, 117);
  cursor: pointer;
}
.filter_box {
  padding: 10px 20px;
  font-size: 16px;
  width: 30%;
  border: 1px solid #ccc;
  margin-top: 15px;
  border-radius: 4px;
  margin-left: 35%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mat-elevation-z8{
  margin: 15px 0;
  border: 1px solid #cccccc;
}

