
.container {
  width: 75%;
  margin: 10px auto;
  margin-top: 2%;
  padding: 10px;
  border: 2px solid rgb(133, 7, 7);
  box-sizing: border-box;
}

.form-group{
  margin: 6px;
}
.alert-danger{
  margin-top:  3px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.alert-danger p{
  margin: 0;
  text-align: center;
}
.btn-danger{
  /* margin: 0; */
  margin-top: 20px;
  /* margin-left: 20%;
  margin-right: 30%; */
  left: 25%;
  right: 25%;
  position:absolute;
}
